.addTask{
    border: none;
    height: 35px;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    color: #616161;
    border-radius:10px;
    outline: none;
}
body{
    overflow-x: hidden ;
}