:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --fondo: #222831;
    --texto :#EEEEEE;
    --primario:#892CDC;
    --secundario: #D9ACF5 ;
    --tercero:#393E46;
    --box-shadow-botones: 0 0 50px rgba(0, 0, 0, 0.20);

  --box-shadow:
  1.6px 1.6px 1.2px rgba(0, 0, 0, 0.023),
  3.4px 3.4px 2.7px rgba(0, 0, 0, 0.034),
  5.8px 5.8px 4.6px rgba(0, 0, 0, 0.042),
  8.7px 8.7px 6.9px rgba(0, 0, 0, 0.049),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.055),
  17.7px 17.7px 14.2px rgba(0, 0, 0, 0.061),
  25.1px 25.1px 20.1px rgba(0, 0, 0, 0.068),
  36.5px 36.5px 29.2px rgba(0, 0, 0, 0.076),
  56.3px 56.3px 45px rgba(0, 0, 0, 0.087),
  100px 100px 80px rgba(0, 0, 0, 0.11)
;

    background-color: var(--fondo);
    color: var(--texto);
  }
